<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main' %}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clients' %}">Клієнти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Справи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Платежі</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Довідник</a>
                </li>
            </ul>
            <div class="navbar-text d-flex align-items-center">
                <img src="user-avatar.png" alt="User Avatar" class="rounded-circle me-2" style="width: 32px; height: 32px;">
                <span>Юзер Нейм</span>
            </div>
        </div>
    </div>
</nav>
